*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    
}
/* color
1..dark-2 #424242 
2..dark-1 #131313
3..dark-3 #727272
*/





/* common style */

.container, ul{
    display: flex;
    align-items: center;
    
}
.title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;

}
.description{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}
.primary-btn{
    padding: 20px 24px;
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    border: none;
}
.brand img{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 25px;
}
/* header style */
header{
    background-color: beige;
}
.nav{
    justify-content: space-between;
    margin: 0 160px;
}
.nav-tool ul li{
    list-style: none;
    padding: 0 20px;
}
.nav-tool ul li a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 26px;
    color: #424242; 
}
.brand{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;   
}
.brand-title{
    margin: 10px 0;
    font-size: 4rem;
    font-weight: 700px;
}
.description-title{
    margin-bottom: 10px;
    padding: 0 20px;
}

/* main style */
/* our feature section style */
.our-features{
    display: flex;
    align-items: center;
    align-items: center;
    gap: 30px;
    margin: 40px 150px;
}
.box-one{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.our-features-title{
    font: 3rem;
    font-weight: 500;
}
.our-features-description{
    font-size: 1rem;
    line-height: 26px;
    font-family: 400;
    padding: 15px 0;
}
.color{
    color: #727272;
}
#color-orange{
    font-weight: 700;
    color: #FF900E;   
}
/* features-love section style */
.features-love{
    display: flex;
    gap: 146px;
    justify-content: center;
    margin: 40px 0;
    margin-top: 30px;
}
.main-content{
    margin-left: 40px;
}
.featutes-love-title{
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 3px solid #FF900E;
    padding: 0 20px;
}
.box-card{
    background-color: #FFFFFF;
    width: 586px;
    height: 121px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}
.box-card-title{
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 10px;
    padding: 0 5px;
}
.box-card-description{
    font-size: 1rem;
    font-weight: 400; 
    padding: 0 5px;  
}
.love-photo{
    width: 650px;
    height: 650px;
}
.experience{
    background-color: #FF900E;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-top: -70px;
    margin-left: -60px;
}
.white{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 70px;
    color: white;
}
/* facts section style */
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    
    
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FF900E;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 5px;
    margin: 40px 50px;

}
.fact-title{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    margin: 24px 0;

}
.fact-description{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;

}
.sponser{
    margin: 50px 0;

}
.alignment{
    text-align: center;

}
.sponser-title{
    margin-bottom: 24px;
    font-size: 2.5rem;
    font-weight: 700;
    border-left: none;
}
.mini-card{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px 240px;
    align-items: center;
}
/* footer style */
.footer{
    max-width: 1050px;
    height: 100px;
    background-color: #FFF4E7;
    border-radius: 8px;
    margin: 100px auto;
}
.footer p{
    text-align: center;
    padding: 40px;
}


/* responsive for small device */
@media (max-width: 576px) {
    .container,
    ul,
    .our-features,
    .features-love{
        flex-direction: column;    
}
.our-features-description{
    padding: 0;
}
.box-one{
    grid-template-columns: repeat(1, 1fr);
}
   
.brand img{
    width: 100%;
}
.nav container{
    margin-right: 0;
}
.brand-title{
    font-size: 2rem;
}
.nav-tool ul li{
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
    background-color: #424242;
    border-radius: 10px;
}
.nav-tool ul li a{
    color: white;
}
.title{
    font-size: 2rem;
    margin: 20px 10px;
}
.box-card{
    width: 430px;
}
.love-photo{
    width: 100%;   
}
.main-content{
    margin-left: 10px;
}
.experience{
    display: none;
}
.features-love{
    gap: 30px;
}
.card-container{
    grid-template-columns: repeat(1, 1fr);
}
    
.card{
    margin: 20px 120px;
}
.mini-card{
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 10pxpx;
}
}
/* responsive for large phone or tablet */
@media (max-width:1024px) {
.container, 
ul,
.our-features,
.features-love{
    flex-direction: column;
}
.box-one{
    grid-template-columns: repeat(1, 1fr);
}
.boz-one img{
    width: 100%;
}
.brand img{
    width: 100%;
}
.nav-tool ul li{
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
    background-color: #424242;
    border-radius: 10px;
}
.nav-tool ul li a{
    color: white;
}
.box-two{
    text-align: center;
}
.features-love{
    
    align-items: center;
}
.experience{
    margin-top: -70px;
    margin-left: -200px;

}
.card-container{
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;    
}
.card{
    margin: 20px 360px;
}
.mini-card{
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 50pxpx;
    justify-content: center;
}
.footer{
    max-width: 650px; 
}
}