*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    
}
/* color
1..dark-2 #424242 
2..dark-1 #131313
3..dark-3 #727272
*/





/* common style */

.container, ul{
    display: flex;
    align-items: center;
    
}
.title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;

}
.description{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}
.primary-btn{
    padding: 20px 24px;
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    border: none;
}
.brand img{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 25px;
}
/* header style */
header{
    background-color: beige;
}
.nav{
    justify-content: space-between;
    margin: 0 160px;
}
.nav-tool ul li{
    list-style: none;
    padding: 0 20px;

}
.nav-tool ul li a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 26px;
    color: #424242; 
}
.brand{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    
}
.brand-title{
    margin: 10px 0;
    font-size: 4rem;
    font-weight: 700px;
}
.description-title{
    margin-bottom: 10px;
    padding: 0 20px;
}

/* main style */
/* footer style */


/* responsive for small device */
@media (max-width: 576px) {
    .container,
    ul{
        flex-direction: column;    
}
.brand img{
    width: 100%;
}
.nav container{
    margin-right: 0;
}
.brand-title{
    font-size: 2rem;
}
.nav-tool ul li{
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
    background-color: #424242;
    border-radius: 10px;
}
.nav-tool ul li a{
    color: white;
}
.title{
    font-size: 2rem;
    margin: 20px 10px;
}
}
/* responsive for large phone or tablet */
@media (min-width:576px) and (max-width:1024px) {
.container, ul{
    flex-direction: column;

}

